@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<hr/>
	<h2>Deployed through VS.Net</h2>
	<br/>

    <center>
        <table border="1">
            <thead>
                <tr>
                    <td colspan="2" align="center" style="background-color:yellow;">
                        <h4>Testing Configuration</h4>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="left">
                        Test1:
                    </td>
                    <td align="left">
                        <b>@ViewBag.Test1Value</b>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        Test2:
                    </td>
                    <td align="left">
                        <b>@ViewBag.Test2Value</b>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>
